body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

header{
background:#1e3a5f;
color:white;
padding:15px;
text-align:center;
}

.painel{
padding:20px;
}

.topo select, .topo button{
padding:8px;
margin:5px;
}

.acoes{
margin:10px 0;
}

.acoes button, .acoes input{
padding:8px;
margin:5px;
}

table{
border-collapse:collapse;
width:100%;
background:white;
}

th,td{
border:1px solid #ddd;
padding:8px;
text-align:left;
}

th{
background:#eaeaea;
}

.ok{
background:#d4edda;
color:#155724;
font-weight:bold;
}

.pendente{
background:#f8d7da;
color:#721c24;
font-weight:bold;
}

.professor{
cursor:pointer;
color:#0d6efd;
text-decoration:underline;
}
